@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Mochiy+Pop+P+One&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto+Mono&family=The+Nautigal:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.6;
    font-family:'Poppins', sans-serif;
}

.btn{
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
}

.text{
    opacity: 0.8;
}

.title{
    font-size: 2rem;
    margin-bottom: 30px;
}

.container{
    min-height: 100vh;
}

.meal-wrapper{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    text-align: center;
}

.meal-search{
    margin: 25px 0;
}

.meal-search cite{
    font-size: 1rem;
}

.meal-search-box{
    margin: 20px 0;
    display: flex;
    align-items: stretch;
}

.meal-search-box{
    display: flex;
    justify-content: center;
    width: 300px;
    background: rgba(255, 255, 255, 0.40);
    height: 60px;
    padding: 10px 10px;
    border-radius: 30px;
    margin: 50px  auto;
    border: 2px solid  tomato;;
}

.search-content{
    outline: none;
    border: none;
    background: rgb(255 255 255 / 8%);
    padding-left: 17px;
    color: tomato;
    width: 100%;
}

.search-content::placeholder{
    color: tomato;
}

.search-btn{
    width: 50px;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: rgb(255 255 255 / 8%);
    color: tomato;
}

.meal-result{
    margin-top: 80px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.meal-result h2{
    width: 100%;
    margin-bottom: 50px;
}

#meal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.meal-item{
    border-radius: 20px;
    margin: 20px 20px;
    overflow: hidden;
    width: 307px;
    box-shadow: 0 4px 21px -12px rgb(8 8 8);
    height: 315px;
}

.meal-name h3{
    font-size: 1.2rem;
}

.recipe-btn{
    text-decoration: none;
    color: wheat;
    background: tomato;
    font-weight: 500;
    font-size: 17px;
    padding: 8px 0;
    width: 50%;
    margin:10px  auto;
    display: block;
    border-radius: 20px;
    transition: all 0.3s linear;
}


.recipe-btn:hover{
    background: rgb(172, 42, 19);
}


/* MEAL DETAILS CARD */

.details-main{
    width: 100%;
    background: transparent;
    backdrop-filter: blur(2px);
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}

.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background: tomato;
    border-radius: 20px;
    width: 60%;
    height: 95%;
    overflow-y: scroll;
    padding: 30px 0;
    display: none;
    box-shadow: 0 0 30px black;
}


.recipe-close-btn{
    position: absolute;
    right: 45px;
    top: 45px;
    font-size: 1.8rem;
    background: white;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-title{
    padding: 40px 0;
}

.recipe-category{
    background: white;
    color: tomato;
    font-weight: 600;
    display: inline-block;
    padding: 9px;
    border-radius: 10px;
}

.recipe-instruction{
    width: 80%;
    margin: 23px auto;
}

.recipe-instruction p{
    text-align: start;
    padding-top: 20px;
}

.recipe-meal-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
}

.recipe-link{
    margin: 10px 0;
}

.recipe-link a{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.3s linear;
}

.recipe-link a:hover{
    opacity: 0.7;
    color: black;
}

/* NOT FOUND  */

.notFound{
    color: tomato;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}


/* JAVASCRIPT TOGGLE */

.showRecipe{
    display: block;
}